header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}

.container__header {
    background: var(--background-navbar);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    background: var(--background-navbar);
    margin: 1.5rem 0 1.5rem 6rem;
}

.logo__name {
    font-size: 2.5rem;
    background: var(--background-navbar);
    ;
    color: var(--text-navbar);
    text-decoration: none;
}

.navbar {
    width: 55%;
    margin: 1.5rem 6rem 1.5rem 0;
    background: var(--background-navbar);
}

.options {
    display: flex;
    justify-content: space-around;
    background: var(--background-navbar);
}

.options__list {
    list-style: none;
    background: var(--background-navbar);
}

.options__list__name {
    color: var(--text);
    text-decoration: none;
    font-size: 1.4rem;
    background: var(--background-navbar);
    transition: color .8s;
}

.options__list__name:hover {
    color: var(--text-navbar);
}

.menu {
    margin-right: 5rem;
    display: none;
}