/*SECTION ABOUT BANNER*/
main {
    margin: 5.937rem 0 0 0;
}

.banner {
    background: radial-gradient(circle, #0D0F0F, #1E2326);
    display: flex;
    justify-content: center;
    height: calc(100vh - 95px);
}

.container__banner {
    width: 31.25rem;
    background: var(--background-navbar);
    border-radius: 50px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4rem 2rem;
    gap: 40px;
}

.information {
    color: var(--text);
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.information__name {
    text-transform: uppercase;
    font-size: 2.5rem;
    background: var(--background-navbar);
}

.information__description {
    font-size: 1.5rem;
    background: var(--background-navbar);
}

.links {
    width: 100%;
}

.links__list {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.links__list__name {
    list-style: none;
    text-align: center;
    border: 2px solid #FFFFFF;
    border-radius: 50%;
    width: 3.5rem;
    height: 3.5rem;
    display: flex;
    transition: background .8s;
}

.links__list__name:hover {
    background: var(--text-navbar);
}

.links__list__name-link {
    font-size: 2rem;
    text-decoration: none;
    color: var(--text);
    margin: auto;
    background: transparent;
}

/*END OF SECTION ABOUT BANNER*/

/*SECTION ABOUT ME*/

.aboutme {
    background: var(--background-navbar);
}

.container__aboutme {
    position: relative;
    width: 75rem;
    margin: 0 auto;
    color: var(--text);
    padding: 2rem;
}

.title {
    text-align: center;
    font-size: 2.5rem;
    margin: 0 0 2rem 0;
}

.aboutme__description {
    text-align: justify;
    font-size: 1.4rem;
}

.aboutme__description span {
    color: var(--text-navbar);
}

.cv__container {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}

.cv__button {
    position: relative;
    color: var(--text);
    display: flex;
    border: 1px solid #FFFFFF;
    background: transparent;
    height: 40px;
    width: 150px;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.cv__button i {
    margin-left: 8px;
}

.cv__button .overlay1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: var(--text-navbar);
    z-index: -10;
    transition: 1s;
}

.cv__button:hover .overlay1 {
    width: 100%;
}

/*END OF SECTION ABOUT ME*/

/*SECTION SKILLS*/

.skills {
    background: var(--background2);
}

.container__skills {
    position: relative;
    width: 75rem;
    margin: 0 auto;
    padding: 2rem;
    color: var(--text);
}

.skills__container {
    width: 62.5rem;
    margin: 0 auto;
}

.skills__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.skills__list__name {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
}

.icon {
    font-size: 3.5rem;
}

/*END OF SECTION SKILLS*/

/*SECTION HOBBIES*/

.hobbies {
    background: var(--background-navbar);
}

.container__hobbies {
    position: relative;
    width: 75rem;
    margin: 0 auto;
    padding: 2rem;
    color: var(--text);
}

.hobbies__container {
    width: 62.5rem;
    margin: 0 auto;
}

.hobbies__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.hobbies__list__name {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
}

/*END OF SECTION HOBBIES*/

/*SECTION FORMATION*/

.formacion {
    background: var(--background2);
}

.container__formacion {
    position: relative;
    width: 75rem;
    margin: 0 auto;
    padding: 2rem;
    color: var(--text);
}

.formacion__container {
    width: 62.5rem;
    margin: 0 auto;
}

.formacion__list {
    width: 100%;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.formacion__list__name {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 200px;
    font-size: 1.2rem;
}

.formation__img {
    width: 300px;
}

.formation__text {
    text-align: center;
}

/*END OF SECTION FORMATION*/

/*SECTION PROJECTS*/

.projects {
    background: var(--background-navbar);
}

.container__projects {
    position: relative;
    width: 75rem;
    margin: 0 auto;
    padding: 2rem;
    color: var(--text);
}

.projects__container {
    margin: 0 auto;
}

.projects__list {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: space-between;
}

.projects__list__name {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    border-radius: 2rem;
}

.reverse {
    flex-direction: row-reverse;
}

.projects__img {
    width: 600px;
    border-radius: 2rem;
}

.projects__text {
    font-size: 1.2rem;
    width: 220px;
}

.button__container {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
}

.text__button {
    position: relative;
    color: var(--text);
    display: flex;
    border: 1px solid #FFFFFF;
    background: transparent;
    height: 40px;
    width: 100px;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    z-index: 10;
    font-size: 1rem;
}

.text__button .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: var(--text-navbar);
    z-index: -10;
    transition: 1s;
}

.text__button:hover .overlay {
    width: 100%;
}

/*END OF SECTION PROJECTS*/

/*SECTION CONTACT*/

.contact {
    background: var(--background2);
}

.container__contact {
    position: relative;
    width: 75rem;
    margin: 0 auto;
    padding: 2rem;
    color: var(--text);
}

.contact__container {
    width: 62.5rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}

/*END SECTION CONTACT*/

@media screen and (min-width: 1024px) and (max-width: 1439px) {

    .container__aboutme,
    .container__skills,
    .skills__container,
    .container__hobbies,
    .hobbies__container,
    .container__formacion,
    .formacion__container,
    .container__projects,
    .projects__container,
    .container__contact,
    .contact__container,
    .container__footer {
        width: 100%;
    }

    .logo {
        margin-left: 5rem;
    }

    .navbar {
        width: 65%;
        margin-right: 5rem;
    }

    .options__list__name {
        font-size: 1.2rem;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {

    .container__aboutme,
    .container__skills,
    .skills__container,
    .container__hobbies,
    .hobbies__container,
    .container__formacion,
    .formacion__container,
    .container__projects,
    .projects__container,
    .container__contact,
    .contact__container {
        width: 100%;
    }

    .projects__list__name {
        flex-wrap: wrap;
        flex-direction: column-reverse;
        gap: 30px;
    }

    .projects__text {
        text-align: center;
    }
}

@media screen and (min-width: 425px) and (max-width: 767px) {

    .container__banner {
        width: 20rem;
    }

    .container__aboutme,
    .container__skills,
    .skills__container,
    .container__hobbies,
    .hobbies__container,
    .container__formacion,
    .formacion__container,
    .container__projects,
    .projects__container,
    .container__contact,
    .contact__container {
        width: 100%;
    }

    .formacion__list {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }

    .projects__list__name {
        flex-wrap: wrap;
        flex-direction: column-reverse;
        gap: 30px;
    }

    .projects__img {
        width: 300px;
        border-radius: 1rem;
    }

    .projects__text {
        text-align: center;
    }
}

@media screen and (min-width: 320px) and (max-width: 424px) {

    .container__banner {
        width: 15rem;
        gap: 20px;
    }

    .information {
        gap: 1rem;
    }

    .information__name {
        font-size: 2rem;
    }

    .container__aboutme,
    .container__skills,
    .skills__container,
    .container__hobbies,
    .hobbies__container,
    .container__formacion,
    .formacion__container,
    .container__projects,
    .projects__container,
    .container__contact,
    .contact__container {
        width: 100%;
    }

    .title {
        font-size: 2.2rem;
    }

    .aboutme__description {
        font-size: 1.2rem;
    }

    .skills__list,
    .hobbies__list {
        grid-template-columns: repeat(2, 1fr);
    }

    .skills__list__name {
        font-size: 1rem;
    }

    .hobbies__list__name {
        font-size: 1rem;
        text-align: center;
    }

    .formacion__list {
        grid-template-columns: repeat(1, 1fr);
    }

    .formacion__list__name {
        width: 100%;
        justify-content: flex-start;
    }

    .formation__img {
        width: 100%;
    }

    .formation__text {
        margin-top: 10px;
    }

    .projects__list {
        gap: 40px;
    }

    .projects__list__name {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        gap: 10px;
    }

    .projects__img {
        width: 250px;
        border-radius: .5rem;
    }

    .projects__text {
        text-align: center;
        font-size: 1rem;
    }
}

@media screen and (min-width: 0) and (max-width: 319px) {

    .container__banner {
        width: 15rem;
        padding: 4rem 1rem;
    }

    .information {
        gap: 1rem;
    }

    .information__name {
        font-size: 2rem;
    }

    .container__aboutme,
    .container__skills,
    .skills__container,
    .container__hobbies,
    .hobbies__container,
    .container__formacion,
    .formacion__container,
    .container__projects,
    .projects__container,
    .container__contact,
    .contact__container {
        width: 100%;
    }

    .container__aboutme,
    .container__skills,
    .container__hobbies,
    .container__formacion,
    .container__projects,
    .container__contact {
        padding: 2rem 1rem;
    }

    .title {
        font-size: 2.2rem;
    }

    .aboutme__description {
        font-size: 1rem;
    }

    .skills__list,
    .hobbies__list {
        grid-template-columns: repeat(2, 1fr);
    }

    .skills__list__name {
        font-size: 1rem;
    }

    .hobbies__list__name {
        font-size: 1rem;
        text-align: center;
    }

    .formacion__list {
        grid-template-columns: repeat(1, 1fr);
    }

    .formacion__list__name {
        width: 100%;
        justify-content: flex-start;
    }

    .formation__img {
        width: 100%;
    }

    .formation__text {
        margin-top: 10px;
    }

    .projects__list {
        gap: 40px;
    }

    .projects__list__name {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        gap: 10px;
    }

    .projects__img {
        width: 220px;
        border-radius: .5rem;
    }

    .projects__text {
        text-align: center;
        font-size: 1rem;
    }
}